@model RoleViewModel

<form method="post" asp-action="Add">
    <div class="input-group mt-4">
        <input class="form-control" asp-for="Name" placeholder="Enter New Role"/>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Add New Role</button>
        </div>
    </div>
    <span asp-validation-for="Name" class="text-danger"></span>
</form>